@import url("https://fonts.cdnfonts.com/css/switzer");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: url("/dark-background.jpg") no-repeat center center / cover; */
  --background: #d8d8d8;
  --foreground: #131313;
  --vl: #585bff;
  --vd: #9697ff;

  --font-switzer: "Switzer", Helvetica, Arial, sans-serif;
  --font-manrope: "Manrope", "Segoe UI", "Roboto", sans-serif;
  --font-work: "Work Sans", "Source Sans Pro", "Open Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-switzer: var(--font-switzer);
  --font-manrope: var(--font-manrope);
  --font-work: var(--font-work);
  --color-vl: var(--vl);
  --color-vd: var(--vd);
}
.violet-text {
  color: var(--vl);
}
.violet-hover {
  transition: transform 0.2s;
  display: inline-block;
}
.violet-hover:hover {
  color: var(--vl);
  transform: scale(1.1);
}

:root.dark {
  /* --background: url("/dark-background.jpg") no-repeat center center / cover; */
  --background: #131313;
  --foreground: #d8d8d8;
}
.dark .violet-text {
  color: var(--vd);
}
.dark .violet-hover:hover {
  color: var(--vd);
  transform: scale(1.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
